{% extends 'include/main.html' %}
{% block title %}{% endblock %}

{% block content %}
    <!--start profile-->
    <section class="container mx-auto md:h-[100vh] pt-24 px-2 mb-4">
        <div class="flex items-center justify-around md:justify-start gap-x-6 bg-white rounded-md p-2 shadow">
            <img src="https://static.codingyar.com/static/images/instructor.png" alt="" class="w-[6rem]">
            <span class="text-[1.3rem] md:text-[1.5rem]">رضا مردانی</span>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-x-2 my-2">
            <div class="border-2 h-fit   border-gray-200 shadow-md bg-white md:col-start-1 md:col-end-3 lg:col-start-1 lg:col-end-3 rounded-md">
                <ul class="flex flex-col justify-center p-4">
                    <a href="{% url 'profile:dashboard' %}">
                        <li class="my-1 p-2 border border-gray-100 rounded-md w-full hover:bg-cyan-600 hover:text-white transition-all duration-150 cursor-pointer text-[1rem] font-bold flex items-center gap-x-2">
                            <i class="fas fa-dashboard"></i>داشبورد
                        </li>
                    </a>
                    <a href="{% url 'profile:my-courses' %}">
                        <li class="my-1 p-2 border border-gray-100 rounded-md w-full bg-cyan-600 text-white hover:bg-cyan-600 hover:text-white transition-all duration-150 cursor-pointer text-[1rem] font-bold flex items-center gap-x-2">
                            <i class="fas fa-book"></i>دوره های من
                        </li>
                    </a>
                    <a href="{% url 'profile:karname' %}">
                        <li class="my-1 p-2 border border-gray-100 rounded-md w-full hover:bg-cyan-600 hover:text-white transition-all duration-150 cursor-pointer text-[1rem] font-bold flex items-center gap-x-2">
                            <i class="fas fa-paper-plane"></i>کارنامه
                        </li>
                    </a>
                    <a href="{% url 'profile:logout' %}">
                        <li class="my-1 p-2 border border-gray-100 rounded-md w-full hover:bg-cyan-600 hover:text-white transition-all duration-150 cursor-pointer text-[1rem] font-bold flex items-center gap-x-2">
                            <i class="fas fa-sign-out-alt"></i>خروج
                        </li>
                    </a>
                </ul>
            </div>
            <div class="border-2 p-4 shadow-md bg-white md:col-start-3 md:col-end-6 lg:col-start-3 lg:col-end-7 rounded-md">

                <div class="courses grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-4">
                    {% for item in mycourse %}
                        <!--box-->
                        <div class="box border-2 border-gray-200 h-full p-2 rounded-md flex flex-col gap-y-4 ">
                            <img src="https://static.codingyar.com/media/courses/bdjango-banner.jpg" alt=""
                                 class="rounded-t-md">
                            <span class="text-[0.8rem] block bg-cyan-600 text-white p-1 rounded-sm w-fit mx-2">طراحی وب</span>
                            <h2 class="text-[1.1rem] cursor-pointer font-bold mx-2">{{ item.course.title }}</h2>
                        </div>
                        <!--end box-->
                    {% endfor %}

                </div>
            </div>

        </div>
        </div>
    </section>
    <!--end profile-->

{% endblock %}