
    <!--start footer-->
  <footer class="bg-indigo-950 h-fit py-4 px-2">
    <div class="flex flex-wrap gap-y-6 md:flex-nowrap justify-evenly items-start ">
        <div class="about w-full">
        <img src="https://static.codingyar.com/media/settings/bkWEimtUU-image.png" class="w-[4rem] m-2 inline-block">
        <p class="text-white">هدف ما از تاسیس  کدیار این است که هر کسی با هر پیشینه و دانشی بتواند به راحتی وارد دنیای زیبا و پردرآمد برنامه نویسی شود.</p>
    </div>
    <div class="footer_links flex justify-start md:justify-evenly gap-x-12 w-full m-2">
        <div>
            <h2 class="text-[1.5rem] font-bold text-white">حساب من</h2>
            <ul class="text-gray-300 flex flex-col gap-y-2 mt-2">
            <li class="cursor-pointer hover:text-white transition-all duration-150">خانه</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">دوره ها </li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">مدرس ها</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">درباره ما</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">ارتباط با ما</li>
        </ul>
        </div>

         <div>
            <h2 class="text-[1.5rem] font-bold text-white">لینک های مفید</h2>
            <ul class="text-gray-300 flex flex-col gap-y-2 mt-2">
            <li class="cursor-pointer hover:text-white transition-all duration-150">خرید هاست</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">همکاری</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">تهیه دوره</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">پشتیبانی</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">گزارش باگ</li>
        </ul>
         </div>
    </div>
    </div>
    <p class="text-white border-t text-center pt-2 mt-4 text-[0.9rem] border-gray-400">وبسایت آموزش برنامه نویسی کدیار - ۲۰۲۰</p>
  </footer>
     <!--end footer-->