<!--start Header-->
<header class="bg-white px-8 py-2 flex justify-between ms:justify-around  items-center fixed w-full top-0">
    <img src="https://static.codingyar.com/media/settings/bDRvxqGrL-image.png" class="w-[2.5rem]">
    <ul class="hidden items-center gap-x-12 justify-center font-bold md:flex">
        <a href="{% url 'home:home' %}">
            <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">
                خانه
            </li>
        </a>
        <a href="{% url 'profile:courses-list' %}">
            <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">
                دوره ها
            </li>
        </a>
        <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">
            بلاگ
        </li>
        <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">
            درباره ما
        </li>
        <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">
            تماس با ما
        </li>
    </ul>
    <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'profile:dashboard' %}"
           class="bg-cyan-500 hover:bg-cyan-600 transition-all duration-200 py-1 px-4 rounded-md text-white cursor-pointer"><i
                class="fas fa-user"></i></a>
        <a href="{% url 'profile:logout' %}"
           class="bg-cyan-500 hover:bg-cyan-600 transition-all duration-200 py-1 px-4 rounded-md text-white cursor-pointer"><i
                class="fas fa-sign-out"></i></a>
        {% endif %}
        <div class="menu-icon inline md:hidden bg-cyan-500 py-1 px-4 rounded-md text-white cursor-pointer"><i
                class="fas fa-bars"></i></div>
    </div>
</header>
<!--end Header-->

<!--start menu mobile-->
<section
        class="menu fixed top-0 w-full h-fit text-center mt-[5rem] bg-white py-1 opacity-0 transition-all duration-400 ease-in-out md:hidden">
    <ul class="font-bold flex gap-y-4 flex-col">
        <a href="{% url 'home:home' %}"
           class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
            <li class="cursor-pointer text-[0.9rem]">خانه</li>
        </a>
        <a href="{% url 'profile:courses-list' %}"
           class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
            <li class="cursor-pointer text-[0.9rem]">دوره ها</li>
        </a>
        <a href="courses.html"
           class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
            <li class="cursor-pointer text-[0.9rem]">بلاگ</li>
        </a>
        <a href="courses.html"
           class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
            <li class="cursor-pointer text-[0.9rem]">درباره ما</li>
        </a>
        <a href="courses.html"
           class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
            <li class="cursor-pointer text-[0.9rem]">تماس با ما</li>
        </a>
    </ul>
</section>
<!--end menu mobile-->