<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کدیار | دوره ها</title>
    <link rel="stylesheet" href="./../static/style/tailwind.css">
    <link rel="stylesheet" href="./../static/style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-100 azar">
    <!--start Header-->
    <header class="bg-white px-8 py-2 flex justify-between ms:justify-around  items-center fixed w-full top-0">
        <img src="https://static.codingyar.com/media/settings/bDRvxqGrL-image.png" class="w-[2.5rem]">
        <ul class="hidden items-center gap-x-12 justify-center font-bold md:flex">
            <a href="../../home/templates/index.html">
                <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">خانه</li>
            </a>
            <a href="courses.html">
                <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">دوره ها</li>
            </a>
            <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">بلاگ</li>
            <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">درباره ما</li>
            <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">تماس با ما</li>
        </ul>
        <div>
            <a href="profile.html" class="bg-cyan-500 hover:bg-cyan-600 transition-all duration-200 py-1 px-4 rounded-md text-white cursor-pointer"><i class="fas fa-user"></i></a>
            <a href="../../home/templates/index.html" class="bg-cyan-500 hover:bg-cyan-600 transition-all duration-200 py-1 px-4 rounded-md text-white cursor-pointer"><i class="fas fa-sign-out"></i></a>
            <div class="menu-icon inline md:hidden bg-cyan-500 py-1 px-4 rounded-md text-white cursor-pointer"><i class="fas fa-bars"></i></div>
        </div>
    </header>
    <!--end Header-->

    <!--start menu mobile-->
    <section class="menu fixed top-0 w-full h-fit text-center mt-[5rem] bg-white py-1 opacity-0 transition-all duration-400 ease-in-out md:hidden">
         <ul class="font-bold flex gap-y-4 flex-col">
           <a href="../../home/templates/index.html" class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
                <li class="cursor-pointer text-[0.9rem]">خانه</li>
            </a>
            <a href="courses.html" class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
                <li class="cursor-pointer text-[0.9rem]">دوره ها</li>
            </a>
            <a href="courses.html" class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
                <li class="cursor-pointer text-[0.9rem]">بلاگ</li>
            </a>
            <a href="courses.html" class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
                <li class="cursor-pointer text-[0.9rem]">درباره ما</li>
            </a>
            <a href="courses.html" class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
                <li class="cursor-pointer text-[0.9rem]">تماس با ما</li>
            </a>
        </ul>
    </section>
    <!--end menu mobile-->

    <!--start courses box-->
    <section class="container mx-auto md:h-[100vh] pt-24 px-2 mb-4">
        <div class="courses grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <!--box-->
            <div class="box shadow-sm bg-white w-[80%] md:w-[90%] mx-auto rounded-md flex flex-col gap-y-2 ">
                <img src="https://static.codingyar.com/media/courses/bdjango-banner.jpg" alt="" class="rounded-t-md">
                <span class="text-[0.8rem] block bg-cyan-600 text-white p-1 rounded-sm w-fit mx-2">طراحی وب</span>
                <h2 class="text-[1.3rem] font-bold mx-2">دوره آموزش فریمورک جنگو</h2>
                <p class="text-[0.9rem] text-gray-500 mx-2 font-bold">اگر شما هم به دنبال یادگیری این فریمورک که بهترین ها هستش هستید</p>
                <hr>
                <div class="flex justify-between px-2 items-center">
                    <a href="" class="block my-2 p-1 bg-green-500 text-white rounded-md w-fit hover:bg-green-600 transition-all duration-150">ثبت نام</a>
                    <span class="text-gray-500 font-bold">1,200,000 تومان</span>
                </div>
            </div>
            <!--end box-->

            <!--box-->
            <div class="box shadow-sm bg-white w-[80%] md:w-[90%] mx-auto rounded-md flex flex-col gap-y-2">
                <img src="https://static.codingyar.com/media/courses/bdjango-banner.jpg" alt="" class="rounded-t-md">
                <span class="text-[0.8rem] block bg-cyan-600 text-white p-1 rounded-sm w-fit mx-2">طراحی وب</span>
                <h2 class="text-[1.3rem] font-bold mx-2">دوره آموزش فریمورک جنگو</h2>
                <p class="text-[0.9rem] text-gray-500 mx-2 font-bold">اگر شما هم به دنبال یادگیری این فریمورک که بهترین ها هستش هستید</p>
                <hr>
                <div class="flex justify-evenly
                 px-2 items-center">
                    <span class="text-gray-500 font-bold block py-2">شما دانشجوی این دوره هستید</span>
                </div>
            </div>
            <!--end box-->

            <!--box-->
            <div class="box shadow-sm bg-white w-[80%] md:w-[90%] mx-auto rounded-md flex flex-col gap-y-2">
                <img src="https://static.codingyar.com/media/courses/bdjango-banner.jpg" alt="" class="rounded-t-md">
                <span class="text-[0.8rem] block bg-cyan-600 text-white p-1 rounded-sm w-fit mx-2">طراحی وب</span>
                <h2 class="text-[1.3rem] font-bold mx-2">دوره آموزش فریمورک جنگو</h2>
                <p class="text-[0.9rem] text-gray-500 mx-2 font-bold">اگر شما هم به دنبال یادگیری این فریمورک که بهترین ها هستش هستید</p>
                <hr>
                <div class="flex justify-between px-2 items-center">
                    <a href="" class="block my-2 p-1 bg-green-500 text-white rounded-md w-fit hover:bg-green-600 transition-all duration-150">ثبت نام</a>
                    <span class="text-gray-500 font-bold">1,200,000 تومان</span>
                </div>
            </div>
            <!--end box-->
        </div>
    </section>
    <!--end courses box-->
   
      <!--start footer-->
  <footer class="bg-indigo-950 h-fit py-4 px-2">
    <div class="flex flex-wrap gap-y-6 md:flex-nowrap justify-evenly items-start ">
        <div class="about w-full">
        <img src="https://static.codingyar.com/media/settings/bkWEimtUU-image.png" class="w-[4rem] m-2 inline-block">
        <p class="text-white">هدف ما از تاسیس  کدیار این است که هر کسی با هر پیشینه و دانشی بتواند به راحتی وارد دنیای زیبا و پردرآمد برنامه نویسی شود.</p>
    </div>
    <div class="footer_links flex justify-start md:justify-evenly gap-x-12 w-full m-2">
        <div>
            <h2 class="text-[1.5rem] font-bold text-white">حساب من</h2>
            <ul class="text-gray-300 flex flex-col gap-y-2 mt-2">
            <li class="cursor-pointer hover:text-white transition-all duration-150">خانه</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">دوره ها </li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">مدرس ها</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">درباره ما</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">ارتباط با ما</li>
        </ul>
        </div>

         <div>
            <h2 class="text-[1.5rem] font-bold text-white">لینک های مفید</h2>
            <ul class="text-gray-300 flex flex-col gap-y-2 mt-2">
            <li class="cursor-pointer hover:text-white transition-all duration-150">خرید هاست</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">همکاری</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">تهیه دوره</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">پشتیبانی</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">گزارش باگ</li>
        </ul>
         </div>
    </div>
    </div>
    <p class="text-white border-t text-center pt-2 mt-4 text-[0.9rem] border-gray-400">وبسایت آموزش برنامه نویسی کدیار - ۲۰۲۰</p>
  </footer>
     <!--end footer-->
  <script src="../static/app.js"></script>
</body>
</html>
