<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کدیار | دوره ها</title>
    <link rel="stylesheet" href="./../static/style/tailwind.css">
    <link rel="stylesheet" href="./../static/style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-100 azar">
    <!--start Header-->
    <header class="bg-white px-8 py-2 flex justify-between ms:justify-around  items-center fixed w-full top-0">
        <img src="https://static.codingyar.com/media/settings/bDRvxqGrL-image.png" class="w-[2.5rem]">
        <ul class="hidden items-center gap-x-12 justify-center font-bold md:flex">
            <a href="index.html">
                <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">خانه</li>
            </a>
            <a href="courses.html">
                <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">دوره ها</li>
            </a>
            <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">بلاگ</li>
            <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">درباره ما</li>
            <li class="cursor-pointer text-[0.9rem] border-b-2 border-transparent hover:border-cyan-500 transition-all duration-300">تماس با ما</li>
        </ul>
        <div>
            <a href="profile.html" class="bg-cyan-500 hover:bg-cyan-600 transition-all duration-200 py-1 px-4 rounded-md text-white cursor-pointer"><i class="fas fa-user"></i></a>
            <a href="index.html" class="bg-cyan-500 hover:bg-cyan-600 transition-all duration-200 py-1 px-4 rounded-md text-white cursor-pointer"><i class="fas fa-sign-out"></i></a>
            <div class="menu-icon inline md:hidden bg-cyan-500 py-1 px-4 rounded-md text-white cursor-pointer"><i class="fas fa-bars"></i></div>
        </div>
    </header>
    <!--end Header-->

    <!--start menu mobile-->
    <section class="menu fixed top-0 w-full h-fit text-center mt-[5rem] bg-white py-1 opacity-0 transition-all duration-400 ease-in-out md:hidden">
         <ul class="font-bold flex gap-y-4 flex-col">
           <a href="index.html" class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
                <li class="cursor-pointer text-[0.9rem]">خانه</li>
            </a>
            <a href="courses.html" class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
                <li class="cursor-pointer text-[0.9rem]">دوره ها</li>
            </a>
            <a href="courses.html" class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
                <li class="cursor-pointer text-[0.9rem]">بلاگ</li>
            </a>
            <a href="courses.html" class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
                <li class="cursor-pointer text-[0.9rem]">درباره ما</li>
            </a>
            <a href="courses.html" class="block hover:bg-cyan-500 hover:text-white p-1 border-b-2 border-transparent  transition-all duration-300">
                <li class="cursor-pointer text-[0.9rem]">تماس با ما</li>
            </a>
        </ul>
    </section>
    <!--end menu mobile-->

    <!--start profile-->
    <section class="container mx-auto md:h-[100vh] pt-24 px-2 mb-4">
        <div class="flex items-center justify-around md:justify-start gap-x-6 bg-white rounded-md p-2 shadow">
            <img src="https://static.codingyar.com/static/images/instructor.png" alt="" class="w-[6rem]">
            <span class="text-[1.3rem] md:text-[1.5rem]">رضا مردانی</span>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-x-2 my-2 ">
            <div class="border-2 h-fit border-gray-200 shadow-md bg-white md:col-start-1 md:col-end-3 lg:col-start-1 lg:col-end-3 rounded-md">
                <ul class="flex flex-col justify-center p-4">
                    <a href="profile.html">
                        <li class="my-1 p-2 border border-gray-100 rounded-md w-full bg-cyan-600 text-white hover:bg-cyan-600 hover:text-white transition-all duration-150 cursor-pointer text-[1rem] font-bold flex items-center gap-x-2"><i class="fas fa-dashboard"></i>داشبورد</li>
                    </a>
                    <a href="my-courses.html">
                        <li class="my-1 p-2 border border-gray-100 rounded-md w-full hover:bg-cyan-600 hover:text-white transition-all duration-150 cursor-pointer text-[1rem] font-bold flex items-center gap-x-2"><i class="fas fa-book"></i>دوره های من</li>
                    </a>
                    <a href="karname.html">
                        <li class="my-1 p-2 border border-gray-100 rounded-md w-full hover:bg-cyan-600 hover:text-white transition-all duration-150 cursor-pointer text-[1rem] font-bold flex items-center gap-x-2"><i class="fas fa-paper-plane"></i>کارنامه</li>
                    </a>
                    <a href="">
                        <li class="my-1 p-2 border border-gray-100 rounded-md w-full hover:bg-cyan-600 hover:text-white transition-all duration-150 cursor-pointer text-[1rem] font-bold flex items-center gap-x-2"><i class="fas fa-sign-out-alt"></i>خروج</li>
                    </a>
                </ul>
            </div>
            <div class="border-2 p-4 border-gray-200 shadow-md bg-white md:col-start-3 md:col-end-6 lg:col-start-3 lg:col-end-7 rounded-md">
                <h2 class="font-bold text-[1.2rem] m-2">اطلاعات شخصی</h2>
                <div class="mx-auto p-2 grid grid-cols-2 gap-y-6 my-2">
                    <div class="flex flex-col gap-2">
                        <p class="font-bold text-cyan-600">نام : </p>
                        <p class="text-[1.2rem] text-gray-400">رضا</p>
                    </div>
                     <div class="flex flex-col gap-2">
                        <p class="font-bold text-cyan-600">نام خانوادگی: </p>
                        <p class="text-[1.2rem] text-gray-400">مردانی</p>
                    </div>
                     <div class="flex flex-col gap-2">
                        <p class="font-bold text-cyan-600">شماره تماس : </p>
                        <p class="text-[1.2rem] text-gray-400">09035913296</p>
                    </div>

                     <div class="flex flex-col gap-2">
                        <p class="font-bold text-cyan-600">نام کاربری : </p>
                        <p class="text-[1.2rem] text-gray-400">rezaxoa</p>
                    </div>
                </div>
                
                <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-2 mx-2 mt-12">
                    <div class="text-white flex gap-x-2 items-center bg-orange-600 py-4 px-2 rounded-md"><i class="fas fa-money-check-dollar text-[1.5rem] bg-white bg-opacity-25 p-2 rounded-md"></i>
                    <div class="flex gap-y-1 flex-col">
                        <p class="text-[.9rem] font-bold">مجموع پرداخت ها</p>
                        <p class="text-[.9rem]">10000 تومان</p>
                    </div>
                    </div>
                    <div class="text-white flex gap-x-2 items-center bg-sky-600 py-4 px-2 rounded-md"><i class="fas fa-rocket text-[1.5rem] bg-white bg-opacity-25 p-2 rounded-md"></i>
                        <div class="flex gap-y-1 flex-col">
                        <p class="text-[.9rem] font-bold">دوره های من</p>
                        <p class="text-[.9rem]">3 دوره</p>
                    </div>
                    </div>
                    <div class="text-white flex gap-x-2 items-center bg-green-600 py-4 px-2 rounded-md"><i class="fas fa-basket-shopping text-[1.5rem] bg-white bg-opacity-25 p-2 rounded-md"></i>
                        <div class="flex gap-y-1 flex-col">
                        <p class="text-[.9rem] font-bold">مجموع حساب</p>
                        <p class="text-[.9rem]">0 تومان</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end profile-->
    
   
   <!--start footer-->
  <footer class="bg-indigo-950 h-fit py-4 px-2">
    <div class="flex flex-wrap gap-y-6 md:flex-nowrap justify-evenly items-start ">
        <div class="about w-full">
        <img src="https://static.codingyar.com/media/settings/bkWEimtUU-image.png" class="w-[4rem] m-2 inline-block">
        <p class="text-white">هدف ما از تاسیس  کدیار این است که هر کسی با هر پیشینه و دانشی بتواند به راحتی وارد دنیای زیبا و پردرآمد برنامه نویسی شود.</p>
    </div>
    <div class="footer_links flex justify-start md:justify-evenly gap-x-12 w-full m-2">
        <div>
            <h2 class="text-[1.5rem] font-bold text-white">حساب من</h2>
            <ul class="text-gray-300 flex flex-col gap-y-2 mt-2">
            <li class="cursor-pointer hover:text-white transition-all duration-150">خانه</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">دوره ها </li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">مدرس ها</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">درباره ما</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">ارتباط با ما</li>
        </ul>
        </div>

         <div>
            <h2 class="text-[1.5rem] font-bold text-white">لینک های مفید</h2>
            <ul class="text-gray-300 flex flex-col gap-y-2 mt-2">
            <li class="cursor-pointer hover:text-white transition-all duration-150">خرید هاست</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">همکاری</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">تهیه دوره</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">پشتیبانی</li>
            <li class="cursor-pointer hover:text-white transition-all duration-150">گزارش باگ</li>
        </ul>
         </div>
    </div>
    </div>
    <p class="text-white border-t text-center pt-2 mt-4 text-[0.9rem] border-gray-400">وبسایت آموزش برنامه نویسی کدیار - ۲۰۲۰</p>
  </footer>
     <!--end footer-->
  <script src="../static/app.js"></script>
</body>
</html>
